<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>红色_00000_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00001</key>
		<dict>
			<key>frame</key>
			<string>{{2,721},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00002</key>
		<dict>
			<key>frame</key>
			<string>{{28,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00003</key>
		<dict>
			<key>frame</key>
			<string>{{54,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00004</key>
		<dict>
			<key>frame</key>
			<string>{{80,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00005</key>
		<dict>
			<key>frame</key>
			<string>{{106,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00006</key>
		<dict>
			<key>frame</key>
			<string>{{132,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00007</key>
		<dict>
			<key>frame</key>
			<string>{{158,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00008</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00009</key>
		<dict>
			<key>frame</key>
			<string>{{210,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00010</key>
		<dict>
			<key>frame</key>
			<string>{{236,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00011</key>
		<dict>
			<key>frame</key>
			<string>{{262,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00012</key>
		<dict>
			<key>frame</key>
			<string>{{288,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00013</key>
		<dict>
			<key>frame</key>
			<string>{{314,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00014</key>
		<dict>
			<key>frame</key>
			<string>{{340,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00015</key>
		<dict>
			<key>frame</key>
			<string>{{366,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00016</key>
		<dict>
			<key>frame</key>
			<string>{{392,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00017</key>
		<dict>
			<key>frame</key>
			<string>{{418,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00018</key>
		<dict>
			<key>frame</key>
			<string>{{444,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00019</key>
		<dict>
			<key>frame</key>
			<string>{{470,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00020</key>
		<dict>
			<key>frame</key>
			<string>{{496,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00021</key>
		<dict>
			<key>frame</key>
			<string>{{522,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00022</key>
		<dict>
			<key>frame</key>
			<string>{{548,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00023</key>
		<dict>
			<key>frame</key>
			<string>{{574,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00024</key>
		<dict>
			<key>frame</key>
			<string>{{600,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00025</key>
		<dict>
			<key>frame</key>
			<string>{{626,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00026</key>
		<dict>
			<key>frame</key>
			<string>{{652,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00027</key>
		<dict>
			<key>frame</key>
			<string>{{678,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00028</key>
		<dict>
			<key>frame</key>
			<string>{{704,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00029</key>
		<dict>
			<key>frame</key>
			<string>{{2,747},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00030</key>
		<dict>
			<key>frame</key>
			<string>{{2,773},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00031</key>
		<dict>
			<key>frame</key>
			<string>{{2,799},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00032</key>
		<dict>
			<key>frame</key>
			<string>{{2,825},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00033</key>
		<dict>
			<key>frame</key>
			<string>{{2,851},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00034</key>
		<dict>
			<key>frame</key>
			<string>{{2,877},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00035</key>
		<dict>
			<key>frame</key>
			<string>{{2,903},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00036</key>
		<dict>
			<key>frame</key>
			<string>{{2,929},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00037</key>
		<dict>
			<key>frame</key>
			<string>{{2,955},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00038</key>
		<dict>
			<key>frame</key>
			<string>{{2,981},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00039</key>
		<dict>
			<key>frame</key>
			<string>{{721,981},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00040</key>
		<dict>
			<key>frame</key>
			<string>{{721,721},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00041</key>
		<dict>
			<key>frame</key>
			<string>{{730,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00042</key>
		<dict>
			<key>frame</key>
			<string>{{756,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00043</key>
		<dict>
			<key>frame</key>
			<string>{{782,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00044</key>
		<dict>
			<key>frame</key>
			<string>{{808,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00045</key>
		<dict>
			<key>frame</key>
			<string>{{834,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00046</key>
		<dict>
			<key>frame</key>
			<string>{{860,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00047</key>
		<dict>
			<key>frame</key>
			<string>{{886,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00048</key>
		<dict>
			<key>frame</key>
			<string>{{912,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00049</key>
		<dict>
			<key>frame</key>
			<string>{{938,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00050</key>
		<dict>
			<key>frame</key>
			<string>{{964,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00051</key>
		<dict>
			<key>frame</key>
			<string>{{990,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00052</key>
		<dict>
			<key>frame</key>
			<string>{{1016,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00053</key>
		<dict>
			<key>frame</key>
			<string>{{1042,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00054</key>
		<dict>
			<key>frame</key>
			<string>{{1068,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00055</key>
		<dict>
			<key>frame</key>
			<string>{{1094,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00056</key>
		<dict>
			<key>frame</key>
			<string>{{1120,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00057</key>
		<dict>
			<key>frame</key>
			<string>{{1146,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00058</key>
		<dict>
			<key>frame</key>
			<string>{{1172,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00059</key>
		<dict>
			<key>frame</key>
			<string>{{1198,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
		<key>红色_00000_00060</key>
		<dict>
			<key>frame</key>
			<string>{{1224,2},{717,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,24}}</string>
			<key>sourceSize</key>
			<string>{717,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>红色_00000</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>红色_00000</string>
	</dict>
</dict>
</plist>
